{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="col">
  {% include 'messages.html' %}
  <h2>Consultar asociado</h2>
  <!-- Formulario -->
  <form class="form-create" method="post">
      {% csrf_token %}
    
    <!-- Mostar el formulario de una manera mas rapida-->
    {% for field in form %}
    <div class="form-group">

      {{ field.label_tag }}
      {{ field }}
    
      {% if field.errors %}
      {{ field.errors }}
      {% endif %}

    </div>
  {% endfor %}

  <button type="submit" class="btn btn-success">Consultar</button>
  
  </form>

  {% if resultado %}
  <br>
  <br>
  <h3>Resultados</h3>
  <table class="table">
      <thead>
          <tr>
              <th>Número de Identificación</th>
              <th>Nombre</th>
          </tr>
      </thead>
      <tbody>
          {% for row in resultado %}
              <tr>
                  <td>{{ row.0 }}</td>
                  <td>{{ row.1 }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

  <br>
  {% if resultado.0.2 <= 0 and resultado.0.3 <= 0 and resultado.0.4 <= 0 and resultado.0.5 <= 0 %}
    <p>La persona es <strong>apta para convenios</strong>, ya que no tiene deudas pendientes.</p>
  {% else %}
    <p>La persona <strong>no es apta para convenios</strong> debido a deudas pendientes o valores positivos.</p>
  {% endif %}

  {% elif resultado is not None %}
  <br>
    <p>No se encontraron resultados para la identificación proporcionada.</p>
  {% endif %}
  
</div>


{% endblock %}